@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*toda la página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  
  /*responsive*/
  @media (max-width: 600px) {
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
  }
  
  @media (min-width: 1025px) {
  }
  
  /*generales*/
  a {
    text-decoration: none;
    color: #fdfdfd;
  }
  
  ul {
    list-style: none;
  }
  
  body, html {
    overflow-x: hidden;
  }
  
  section {
    width: 80%;
    margin: 80px auto;
  }
  
  header {
    background-color: #cecfd6;
    padding: 36px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin: 0 20px;
  }

  .footer-links{
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .ctn {
    padding: 10px 5px;
    background: #b3adb3;
    border-radius: 30px;
    color: rgb(31, 30, 30);
  }

  .ctnl {
    padding: 10px 5px;
    background: #888388;
    border-radius: 30px;
    color: rgb(31, 30, 30);
    margin: 0 15px;
  }
  
  /*carrusel*/
  .carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 300%;
}

.carousel-item {
    flex: 0 0 33.33%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*footer*/
.footer{
    width: 100%;
    height: 150px;
    padding: 30px 80px;
    margin: 0;
    background: #b3adb3;
    text-align: center;
}